<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{ title }}">
    <meta name="author" content="{{ author }}">

    <title>{{ title }} | blog.ilvokhin.com</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body class="post">
<header>
<a class="title" href="/">
    <h1>blog.ilvokhin.com</h1>
</a>
</header>

<main>
<h1>{{ title }}</h1>
<p>
    <i>
    <time datetime="{{ date.strftime('%Y-%m-%d') }}" pubdate>
        {{ date.strftime('%Y-%m-%d') }}
    </time>
    {% if date != updated %}
    (updated <time datetime="{{ updated.strftime('%Y-%m-%d') }}">{{ updated.strftime('%Y-%m-%d') }}</time>)
    {% endif %}
    </i>
{% if status == "draft" %}
• {{ status }}
{% endif %}
</p>

<content>
    {{ content|safe }}
</content>

</main>
</body>

</html>
